<% extend("../master") %>

<div class="container-fluid main-content h-100">
  <div class="row content">
      <%- include('sections/leftSide'); %>
      

      <%- include('sections/rightSide'); %>
      
  </div>
</div>